<sly data-sly-use.clientLib="/libs/granite/sightly/templates/clientlib.html"
     data-sly-call="${clientlib.js @ categories='wknd.dependencies'}"/>
<sly data-sly-use.clientLib="/libs/granite/sightly/templates/clientlib.html"
     data-sly-call="${clientlib.css @ categories='wknd.base'}"/>

<sly data-sly-include="web-fonts.html"></sly>

<!--/* Load authoring related client libraries */-->
<sly data-sly-test="${wcmmode.preview || wcmmode.edit}" data-sly-call="${clientLib.css @ categories='wknd.author'}"/>