@import (reference) "/apps/wknd/clientlibs/clientlib-site/less/common/variables.less";


 .rte-editor {

   blockquote {
         background-color:@brand-secondary;
         padding:36px 60px;
         font-size: @font-size-large;
         line-height:1em;
    }

     .quote-author {
            font-size: @font-size-small;
            font-family: @font-family-sans-serif;
            text-transform: uppercase;

    }
}